.main-footer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 769px) {
	.wrapper {
		flex-wrap: wrap;
	}
	.main-header,
	.main-nav {
		display: flex;
	}

	.main-header {
		flex-direction: row;
		align-items: center;
  	justify-content: center;
	}

  #jumbotron {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .flexLayout {
    display: flex;
  }

	.col {
		flex: 1 50%;
	}
  .main-footer {
    flex-flow: row;
    justify-content: space-between;
  }
  .reverse {
    order: -1;
  }

}

@media (min-width: 1025px) {
	.primary {
		flex: 1;
	}

	.col {
		flex-basis: 0;
	}

}
