* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  color: #8e8e90;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
	font-size: 1.125em;
	margin-bottom: 1.8em;
}
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -0.01em;
  color: #555559;
	margin-top: 10px;
  margin-bottom: 10px;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
  max-height: 100%;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  color: #545358;
  margin: 10px;
}
#doggyButton {
  background-color: #276782;
  border: none;
  border-radius: 5px;
  padding: 20px 45px;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.25em;
  color: white;
}
#doggyButton:hover {
  box-shadow: 9px 9px 20px -9px grey;
  cursor: pointer;
}
.instagram {
  display: inline-block;
  background: url('../img/instagram.png') no-repeat;
  height: 20px;
  width: 20px;
}
figure {
  margin: 0;
}
.dash {
  display: none;
}

/* ---- Navigation ---- */
.wrapper {
  padding: 0 1em;
}
.main-header {
  position: relative;
  box-shadow: 0 5px 25px -15px grey;
  font-size: 1.4em;
  font-weight: bold;
}
.main-nav {
	margin-top: 5px;
}
.main-nav a {
	display: block;
	padding: 10px 35px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
	font-size: .95em;
	color: #282828;
  text-transform: uppercase;
}
.main-nav a:hover {
	color: #ff7800;
}

/* ------- basic layout ----- */

.banner {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 39%, rgba(0, 0, 0, 0) 100%), url('../img/header.jpg') no-repeat;
  background-size: cover;
  height: 485px;
}
.banner span {
  float: left;
}
.banner a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: .8em;
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
}
#jumbotron {
  z-index: -1;
  background-color: #fafafa;
  padding: 3em 3em;
  text-align: center;
}
.main-footer {
	background: #efefef;
	padding: 2em 1em;
}

@media (min-width: 769px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }
  .main-header {
      height: 100px;
      width: 100%;
      background-color: #fff;
  		margin: 0 auto;
  }
  .textCounterImage {
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 1100px) {
	.wrapper {
		width: 80%;
		max-width: 1440px;
	}
  .textCounterImage {
    padding-top: 25%;
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (min-width: 1440px) {
  h1 {
  font-size: 3.5em;
  font-weight: 300;
  }
  figure {
  	margin: 0;
  	position: relative;
  }
  .dash {
    display: inline-block;
    position: absolute;
    height: 3px;
    width: 31px;
  	top: 19px;
  	left: -55px;
  }
  #jumbotron {
    padding: 7em 10em;
  }
  .secondary img {
    height: 576px;
    width: 100%;
  }

}
